<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Main Payroll Menu -->
    <menuitem id="menu_tazweed_payroll_root"
              name="Payroll"
              web_icon="tazweed_payroll,static/description/icon.png"
              sequence="20"/>

    <!-- Dashboard Menu -->
    <menuitem id="menu_payroll_dashboard"
              name="Dashboard"
              parent="menu_tazweed_payroll_root"
              action="action_payroll_dashboard"
              sequence="1"/>

    <!-- Payroll Processing -->
    <menuitem id="menu_payroll_processing"
              name="Payroll Processing"
              parent="menu_tazweed_payroll_root"
              sequence="10"/>

    <menuitem id="menu_payslip_batches"
              name="Payslip Batches"
              parent="menu_payroll_processing"
              action="action_hr_payslip_run"
              sequence="10"/>

    <menuitem id="menu_payslips"
              name="All Payslips"
              parent="menu_payroll_processing"
              action="action_hr_payslip"
              sequence="20"/>

    <!-- Loans -->
    <menuitem id="menu_loans"
              name="Loans"
              parent="menu_tazweed_payroll_root"
              sequence="30"/>

    <menuitem id="menu_employee_loans"
              name="Employee Loans"
              parent="menu_loans"
              action="action_payroll_loan"
              sequence="10"/>

    <!-- End of Service -->
    <menuitem id="menu_end_of_service"
              name="End of Service"
              parent="menu_tazweed_payroll_root"
              sequence="40"/>

    <menuitem id="menu_gratuity"
              name="Gratuity"
              parent="menu_end_of_service"
              action="action_gratuity"
              sequence="10"/>

    <!-- WPS Integration - Link to WPS Module -->
    <menuitem id="menu_wps_integration"
              name="WPS Integration"
              parent="menu_tazweed_payroll_root"
              sequence="50"/>

    <menuitem id="menu_wps_files_payroll"
              name="WPS Files"
              parent="menu_wps_integration"
              action="tazweed_wps.action_wps_file"
              sequence="10"/>

    <!-- Configuration -->
    <menuitem id="menu_payroll_config"
              name="Configuration"
              parent="menu_tazweed_payroll_root"
              sequence="100"/>

    <menuitem id="menu_salary_structures"
              name="Salary Structures"
              parent="menu_payroll_config"
              action="action_hr_payroll_structure"
              sequence="10"/>

    <menuitem id="menu_salary_rules"
              name="Salary Rules"
              parent="menu_payroll_config"
              action="action_hr_salary_rule"
              sequence="20"/>

    <menuitem id="menu_rule_categories"
              name="Rule Categories"
              parent="menu_payroll_config"
              action="action_hr_salary_rule_category"
              sequence="30"/>



    <!-- Reports -->
    <menuitem id="menu_payroll_reports"
              name="Reports"
              parent="menu_tazweed_payroll_root"
              sequence="90"/>

    <menuitem id="menu_payroll_analysis"
              name="Payroll Analysis"
              parent="menu_payroll_reports"
              action="action_hr_payslip"
              sequence="10"/>
</odoo>
