<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Main Menu -->
    <menuitem id="menu_esignature_root" name="E-Signature" web_icon="tazweed_esignature,static/description/icon.png" sequence="45"/>
    
    <!-- Dashboard -->
    <menuitem id="menu_esignature_dashboard" name="Dashboard" parent="menu_esignature_root" action="action_esignature_dashboard" sequence="1"/>
    
    <!-- Signature Requests -->
    <menuitem id="menu_signature_requests" name="Signature Requests" parent="menu_esignature_root" action="action_signature_request" sequence="10"/>
    
    <!-- Templates -->
    <menuitem id="menu_signature_templates" name="Templates" parent="menu_esignature_root" action="action_signature_template" sequence="20"/>
    
    <!-- Configuration Menu -->
    <menuitem id="menu_esignature_config" name="Configuration" parent="menu_esignature_root" sequence="100" groups="group_esignature_manager"/>
</odoo>
